* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 5rem;
    background-color: brown;
    text-transform: uppercase;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
}

form {
    width: 50%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;

}

.result {
    padding: 2rem;
    background-color: brown;
    color: white;
    border-radius: 1rem;
}